.social-inner .social-open-button {

  .close-text {  // delete code below in block to remove disabled state.
    display: none;
  }

  &.open {
    background-color: @cta-button-color-disabled;
    border-color: @cta-button-border-color-disabled;
    color: @cta-button-text-color-disabled;
    cursor: default;
    pointer-events: none;

    .no-touch &:hover {
      border-color: @cta-button-border-color-disabled;
    }
  }
}
